body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Josefin Sans", sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}
.container2 {
  background-image: url(https://img.freepik.com/free-vector/gorgeous-clouds-background-with-blue-sky-design_1017-25501.jpg);
  padding: 33px 0;
  background-position-y: center;
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: 0 -1px 30px 10px inset rgb(0 0 0 / 20%);
}

.tempBox {
  text-align: center;
}

.tempBtn {
  padding: 4px;
  vertical-align: top;
  font-size: 13px;
}

.cardTop {
  border: 1px solid rgba(0, 0, 0, 0.35) !important;
  text-align: center;
}

.wthrImg {
  width: 20%;
  border: 1px solid transparent;
  border-radius: 5px;
}
